* {
    box-sizing: border-box;
}

.code-block {
    background-color: whitesmoke;
    border: 1px solid black;
    padding: 5px;
    width: 650px;
    margin: 5px 20px;
}

.tech_drawing {
    margin: 0 6px;
    width: 600px;
}